/dictionary-check/.idea/misc.xml
/pdf-to-db/.idea/misc.xml
/dictionary-check/.idea/modules.xml
/pdf-to-db/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/dictionary-check/.idea/inspectionProfiles/profiles_settings.xml
/pdf-to-db/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/dictionary-check/app/logs/crawler.log
/dictionary-check/.idea/dictionary-check.iml
/pdf-to-db/.idea/pdf-to-db.iml
/dictionary-check/app/data/database.db-journal
